<div id="f1_container">
  <div id="f1_card" class="shadow">
    <div class="front face">
    </div>
    <div class="back face center">
      <p>The strength of the asset should be known to the customer. Financial analysts are often given the task of projecting / forecasting cash for a given amount or
        an asset or equity, based on a given set of assumptions and then comes with a return to assess that a certain investments are valid or not.</p>
      <p>A simpler regression approach with KNN machine learning nodel is taken.  KNN algorithms use data and classify new data points based on similarity measures.</p>
    </div>
  </div>
</div>
<div id="f2_container">
  <div id="f2_card" class="shadow">
    <div class="front face">
    </div>
    <div class="back1 face1 center1">
      <p> Traditionally, the new investors would invest equally in their target companies however the assets can co-move with each other and some of the assets might be negatively correlated with each other. Therefore, we need to find the optimum portfolio. The optimum portfolio is the one that generates the highest return for the lowest risk. It can be overwhelming to generate every single possible portfolio. As a consequence, we can also use use the Monte-Carlo methodology to generate 10'000+ different portfolios in Python. The methodology revolves around the concept that as we increase the number of portfolios, we will get closer to the actual optimum portfolio.</p>
      <p>So in Monte Carlo we randomly assign weights to the stocks/assets (here 5) in our portfolio and returns from the portfolio and its volatility are calculated through some formulas that in tern calculates the Sharpe Ratio which help investors understand the return of an investment compared to its risk.</p>
    </div>
  </div>
</div>