<div class="content" role="main">
    <input type="hidden" #selection>
    <div class="text-center">
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="sel1">Select Asset: </label>
                <select class="form-control" [(ngModel)] = "asset1" id="sel1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <option selected="selected">Select First Option</option>
                    <option>    GE    </option>
                    <option>   AAPL   </option>
                    <option>   GOOG   </option>
                    <option>    IBM   </option>
                    <option>   MSFT    </option>
                    <option>    ZM   </option>
                    <option>   UBER   </option>
                    <option>    SWI   </option>
                    <option>   WORK   </option>
                    <option>   CRWD   </option>
                    <option>    RNG   </option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="sel1">Select Asset: </label>
                <select class="form-control" [(ngModel)] = "asset2" id="sel2" placeholder="Select Second Asset">
                    <option selected="selected">Select Second Option</option>
                    <option>    GE    </option>
                    <option>   AAPL   </option>
                    <option>   GOOG   </option>
                    <option>    IBM   </option>
                    <option>   MSFT    </option>
                    <option>    ZM   </option>
                    <option>   UBER   </option>
                    <option>    SWI   </option>
                    <option>   WORK   </option>
                    <option>   CRWD   </option>
                    <option>    RNG   </option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="sel1">Select Asset: </label>
                <select class="form-control" [(ngModel)] = "asset3" id="sel3" placeholder="Select Second Asset">
                    <option selected="selected">Select Second Option</option>
                    <option>    GE    </option>
                    <option>   AAPL   </option>
                    <option>   GOOG   </option>
                    <option>    IBM   </option>
                    <option>   MSFT    </option>
                    <option>    ZM   </option>
                    <option>   UBER   </option>
                    <option>    SWI   </option>
                    <option>   WORK   </option>
                    <option>   CRWD   </option>
                    <option>    RNG   </option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="sel1">Select Asset: </label>
                <select class="form-control" [(ngModel)] = "asset4" id="sel4" placeholder="Select Second Asset">
                    <option selected="selected">Select Second Option</option>
                    <option>    GE    </option>
                    <option>   AAPL   </option>
                    <option>   GOOG   </option>
                    <option>    IBM   </option>
                    <option>   MSFT    </option>
                    <option>    ZM   </option>
                    <option>   UBER   </option>
                    <option>    SWI   </option>
                    <option>   WORK   </option>
                    <option>   CRWD   </option>
                    <option>    RNG   </option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="sel1">Select Asset: </label>
                <select class="form-control" [(ngModel)] = "asset5" id="sel5" placeholder="Select Second Asset">
                    <option selected="selected">Select Second Option</option>
                    <option>    GE    </option>
                    <option>   AAPL   </option>
                    <option>   GOOG   </option>
                    <option>    IBM   </option>
                    <option>   MSFT    </option>
                    <option>    ZM   </option>
                    <option>   UBER   </option>
                    <option>    SWI   </option>
                    <option>   WORK   </option>
                    <option>   CRWD   </option>
                    <option>    RNG   </option>
                </select>
            </div>
        </div>
        <div class="row" style="width:400px; margin:0 auto;">
            <div class="form-group">
                <label>Start Date: </label>
                <input type = "date"
                    max= "2020-05-18"
                    class = "form-control"
                    [(ngModel)] = "startDate"
                    id = "myInput1"
                    placeholder="Enter Start Date">
            </div>
            
            <div class="form-group">
                <label>End Date: </label>
                <input type = "date"
                    max= "2020-05-18"
                    class = "form-control"
                    [(ngModel)] = "endDate"
                    id = "myInput2"
                    placeholder="Enter End Date">
            </div>  
        </div>
      <button class="predictionBtn"  (click)="compare();" >Compare</button>
      <button class="display" (click)="imageSource1 = 'http://localhost:5000/RRrate';imageSource2 = 'http://localhost:5000/correlation';" >Compare All Assets</button>
      <button onClick="window.location.reload();">Refresh Page</button> 
    </div>
    <br>
    {{text1}}
    <img [src]="imageSource1" *ngIf="imageSource1"/>
    <br>
    {{text2}}
    <img [src]="imageSource2" *ngIf="imageSource2"/>
</div>
